$mainBackgroundColor: #21232e;
$headerBackgroundImage: url(../img/m-h-night.jpg);
$headerTextColor: #ffffff;
$underLineColor: #ff4e33;
$buttonColor: #e3ac00;
$gradientBlock: linear-gradient(to right, rgba(219, 159, 7, 1) 0%, rgba(146, 44, 81, 1) 100%);
$cardsAndFooterTextColor: #d1d1d1;
$cardsAndFooterBackground: #3b3f50;
$mapFonts: ("font1": ('Source Sans Pro', sans-serif),"font2": ('Fresca', sans-serif));