$mainBackgroundColor: #ffffff;
$headerBackgroundImage: url(../img/m-h-day.jpg);
$headerTextColor: #2c2f3c;
$underLineColor: #14a0c7;
$buttonColor: #699900;
$gradientBlock: linear-gradient(to right, rgba(99, 147, 20, 1) 0%, rgba(48, 94, 205, 1) 100%);
$cardsAndFooterTextColor: #c0c3ce;
$cardsAndFooterBackground: #21232e;
$mapFonts: ("font1": ('Source Sans Pro', sans-serif),"font2": ('Hind', sans-serif));
